{% extends 'base.html' %} 
{% load static %} 
{% block content %} 
<div>
    <h2>Available Events</h2>
    {% if events %}
        <ul>
            {% for event in events %}
                <details>
                    <summary role="button">{{ event.name }}</summary>
                    <p><strong>Place:</strong> {{ event.city }}, {{ event.country }}</p>
                    <p><strong>Date:</strong> {{ event.date }}</p>
                    <a href="{% url 'event_detail' event.pk %}">View Details</a>
                </details>
            {% endfor %}
        </ul>
    {% else %}
        <p>No events available at the moment 😔.</p>
    {% endif %}
</div>
{% endblock %}
