{% extends 'events/base.html' %}
{% load static %}
{% block content %}
<div>
    <a href="{% url 'events' %}" class="btn btn-outline-secondary mb-3">
        ← Go back
    </a>
    <h2>{{ event.name }}</h2>
    <p><strong>Place:</strong> {{ event.city }}, {{ event.country }}</p>
    <p><strong>Date:</strong> {{ event.date }}</p>
    <p><strong>Description:</strong> {{ event.description }}</p>
    {% for image in event.images.all %}
    <img src="{{ image.image_url }}" alt="Image of {{ event.name }}">
    {% endfor %}
    {% for video in event.videos.all %}
    <video width="320" height="240" controls>
        <source src="{{ video.video_url }}" type="video/mp4">
    </video>
    {% endfor %}
    <form method="post" action="{% url 'buy_tickets' event.id %}">
        {% csrf_token %}
        <div class="d-flex align-items-center gap-2">
            <input type="number" name="quantity" min="1" max="{{ event.max_tickets_per_user }}"
                class="form-control w-auto" value="1" required>
            <button type="submit" class="btn btn-success">Comprar</button>
        </div>
        <small class="text-muted">Máximo {{ event.max_tickets_per_user }} entradas por usuario.</small>
    </form>
    <p><strong>Entradas disponibles:</strong> {{ event.available_tickets }}</p>

</div>
{% endblock %}